/.github                         export-ignore
/docs                            export-ignore
/tests                           export-ignore
/.gitattributes                  export-ignore
/.gitignore                      export-ignore
/.scrutinizer.yml                export-ignore
/build.xml                       export-ignore
/codecov.yml                     export-ignore
/php-require-checker.config.json export-ignore
/phpcs.xml                       export-ignore
/phpmd.xml                       export-ignore
/phpstan.neon                    export-ignore
/phpunit.xml.dist                export-ignore
/psalm.xml                       export-ignore
/psalm.compiler.xml              export-ignore
/vendor-bin                      export-ignore

# Configure diff output for .php and .phar files.
*.php diff=php
*.phar -diff
