parameters:
    level: 8
    paths:
        - src
        - src-compile
        - tests
    excludePaths:
        - tests/tmp/*
        - tests/Fake/*
    ignoreErrors:
        -
            identifier: typeAlias.duplicate
